.top_bar_inner {
  height: 100%;
  display: flex;
  align-items: center;
  margin-top: 20px;
  padding: 0 20px;
  gap: 8px;
  color: white;
  font-size: 18px;
  font-weight: 600;
}

.back_icon {
  margin-top: 5px;

  width: 19px;
}

.content {
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 상단 텍스트 라벨과 아이콘 */

.form_group {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 40px;
}

.form_icon1 {
  height: 60px;
}
.form_icon2 {
  height: 60px;
}

.form_text .form_label {
  font-size: 12pt;
  font-weight: 600;
}

.form_text .form_hint {
  margin-top: 8px;
  font-size: 10pt;
  color: #777;
}

/* 입력창 */
.input_field {
  margin-top: 20px;
  width: 100%;
  height: 48px;
  border: 1px solid #999;
  border-radius: 50px;
  padding: 0 16px;
  font-size: 12pt;
  outline: none;
  margin-bottom: 8px;
}

/* 선 */
.divider {
  margin-top: 25px;
  border: none;
  width: 100%;
  height: 1px;
  background-color: #ffffff;
}

/* 주소 검색 입력과 아이콘 */
.search_container {
  margin-top: 15px;
  width: 312px;
  height: 48px;
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
}

.search_icon {
  position: absolute;
  right: 16px;
  top: 63%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  cursor: pointer;
}

/* 등록 버튼 */
.delete_button {
  margin-top: 90px;
  display: block;
  width: 320px;
  height: 48px;
  background-color: #ffffff;
  color: #6b6b6b;
  font-size: 14pt;
  font-weight: 600;
  border-radius: 20px;
  text-align: center;
  line-height: 50px;
  text-decoration: none;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);
}
.submit_button {
  margin-top: 10px;
  display: block;
  width: 320px;
  height: 48px;
  background-color: #a82d2f;
  color: white;
  font-size: 14pt;
  font-weight: 600;
  border-radius: 20px;
  text-align: center;
  line-height: 50px;
  text-decoration: none;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.9);
}
